<div class="section section section-xl">
    <div class="container wide">
      <div class="text-center">
        <h3 class="title">I nostri prodotti:</h3>
      </div>
      <div class="row row-md-30 row-sm-50">
        <div class="col-xs-10 col-md-6 col-lg-4">
          <div class="box-info-modern box-md">
            <div class="box-info-modern-figure"><img src="../resources/images/products/gift-card.png" alt="" width="390" height="360"/>
            </div>
            <h4 class="box-info-modern-title">Gift Card</h4>
            <div class="box-info-modern-text">Richiedi un buono per "Regalare la bellezza"</div>
          </div>
        </div>
        <div class="col-xs-10 col-md-6 col-lg-4">
          <div class="box-info-modern box-md">
            <div class="box-info-modern-figure"><img src="../resources/images/products/glass-onion.png" alt="" width="390" height="360"/>
            </div>
            <h4 class="box-info-modern-title">Glass Onion</h4>
            <div class="box-info-modern-text">La linea per curare acne e rughe</div>
          </div>
        </div>
        <div class="col-xs-10 col-md-6 col-lg-4">
          <div class="box-info-modern box-md">
            <div class="box-info-modern-figure"><img src="../resources/images/products/staminalis.png" alt="" width="390" height="360"/>
            </div>
            <h4 class="box-info-modern-title">Staminalis</h4>
            <div class="box-info-modern-text">Forniremo i prodotti più adatti alle tue esigenze</div>
          </div>
        </div>
      </div>
    </div>
  </div>